<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.junit.launchconfig">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/e2e-nwcloud-app-persons-list-web-orig/test/com/sap/netweaver/cloud/sample/ui/integrationtest/FirefoxAppWebPageTest.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.junit.CONTAINER" value=""/>
<booleanAttribute key="org.eclipse.jdt.junit.KEEPRUNNING_ATTR" value="false"/>
<stringAttribute key="org.eclipse.jdt.junit.TESTNAME" value=""/>
<stringAttribute key="org.eclipse.jdt.junit.TEST_KIND" value="org.eclipse.jdt.junit.loader.junit4"/>
<stringAttribute key="org.eclipse.jdt.launching.CLASSPATH_PROVIDER" value="org.eclipse.m2e.launchconfig.classpathProvider"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.sap.netweaver.cloud.sample.ui.integrationtest.FirefoxAppWebPageTest"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="e2e-nwcloud-app-persons-list-web-orig"/>
<stringAttribute key="org.eclipse.jdt.launching.SOURCE_PATH_PROVIDER" value="org.eclipse.m2e.launchconfig.sourcepathProvider"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-De2e-nwcloud-app-WebPageUrl=&quot;http://localhost:8080/e2e-nwcloud-app-persons-list-web-orig&quot; -DbuildTargetDirectory=&quot;.&quot;"/>
</launchConfiguration>
